<!DOCTYPE html>
<html lang="en">
<head>
<title>Trigger Me Elmo</title>
<style type="text/css">
    body{background-color: #000000;color: #ffffff}
    .defaultCanvas0{position: absolute;top:0%;left:0%}
    video{position: absolute;display: inline-block;top:0%;left:0%}
    img{position: absolute;display: inline-block;top:0%;left:0%}
    p{position: fixed; color:#ffffff; top: 20%; left: 35%; margin-top: -100px; margin-left: -100px; font-family:'Courier New', Courier, monospace;}
</style>
<img id='base64'>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/addons/p5.sound.min.js"></script>
<script type="text/javascript" src="/static/sketch.js"></script>
</head>
<body>
    <main><p id="race"></p></main>
</body>
</html>
